<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yurivlad.multiweather.weather_widget">

    <application>
        <receiver android:name=".AppWidgetProviderImpl">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_info" />
        </receiver>
    </application>
</manifest>
